---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.mdx");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="m-4">
		{
			tags.map((tag) => (
				<a class="mx-2" href={`/tags/${tag}`}>
					{tag}
				</a>
			))
		}
	</div>
</BaseLayout>
