---
import dayjs from "dayjs";
interface Props {
	title: string;
	url: string;
	description: string;
	pubDate: string;
}
const { title, url, description, pubDate } = Astro.props;
---

<li class="list-disc">
	<a href={url}><h3>{title}</h3></a>
	<p>{description}</p>
	<p>{dayjs(pubDate).format("DD MMM YYYY HH:mm")}</p>
</li>
