---
import Social from "./Social.astro";
---

<div class="flex justify-start gap-4 mt-8 m-4">
  <Social platform="facebook" username="jitrak.dev" />
  <Social platform="github" username="Eji4h" />
</div>
