---
import { Image } from "astro:assets";
import jLogo from "../assets/images/mains/j-logo-black.png";
import Navigation from "./Navigation.astro";
import WebRing from "./WebRing.astro";
---

<header class="flex flex-row">
	<a href="/">
		<Image
			src={jLogo}
			width={100}
			class="w-32 h-32 ml-4 mr-2 mt-4"
			alt="jitrak-logo-black"
		/>
	</a>
	<div class="flex flex-col">
		<nav class="flex justify-center items-center">
			<Navigation />
			<WebRing />
		</nav>
		<h1 class="mx-4 -mt-4">Jitrak Blog</h1>
	</div>
</header>
