---
import { Image } from "astro:assets";
import jLogo from "../assets/images/mains/j-logo-black.png";
import Navigation from "./Navigation.astro";
import WebRing from "./WebRing.astro";
---

<header class="flex flex-row">
	<a href="/">
		<Image
			src={jLogo}
			width={100}
			class="w-32 h-32 ml-4 mr-2 mt-4"
			alt="jitrak-logo-black"
		/>
	</a>
	<div>
		<nav class="flex justify-center">
			<Navigation />
			<WebRing class="m-r4 my-4" />
		</nav>
		<div class="flex">
			<h1 class="font-bold text-4xl mx-4">Jitrak Blog</h1>
		</div>
	</div>
</header>
