---
const tabs = [
	{ name: "Blog", href: "/" },
	{ name: "About", href: "/about" },
	{ name: "Tags", href: "/tags" },
];
---

<nav>
	<div class="flex flex-row">
		{
			tabs.map((tab) => (
				<li class="inline-flex justify-center mx-2">
					<a class="font-bold" href={tab.href}>
						{tab.name}
					</a>
				</li>
			))
		}
	</div>
</nav>
