---
import { Image } from "astro:assets";
---

<a href="https://webring.wonderful.software#jitrak.dev" title="วงแหวนเว็บ">
	<Image
		alt="วงแหวนเว็บ"
		width="32"
		height="32"
		src="https://raw.githubusercontent.com/wonderfulsoftware/webring/d938b2dc529e66ed18c38bce7e3158f5ad3f9df3/webring.animate_rot_friction.svg"
	/>
</a>
